<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'news_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/qna.css' %}">
</head>
<body>
    <header>
        <h2 class="logo"><i class="fas fa-gamepad"></i>CHEST MATE</h2>
        <ul class="header_menu">
            {% if request.session.doc_id %}
                <li><a class="upper" href="{% url 'board' %}">Home</a></li>
                <li><a class="upper" href="{% url 'board_all' %}">All</a></li>
                
            {% else %}
                <li><a class="upper" href="{% url 'main' %}">Home</a></li>
            {% endif %}
            <li><a class="upper" href="{% url 'contact' %}">ABOUT US</a></li>
            <li><a class="upper" href="{% url 'news_list' %}">NEWS</a></li>
            <li><a class="upper" href="#" id="qna-link">Q&A</a></li>
            {% if request.session.doc_id %}
                <li><a class="upper" id="logout-btn" href="{% url 'logout_view' %}"><i class="fi fi-ss-exit"></i></a></li>
            {% endif %}
        </ul>
    </header>

    <section class="news-list">
        <div class="container">
            <h1>Latest News</h1>    
            <div class="articles">
                {% for article in page_obj %}
                    <div class="article">
                        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                        <p>
                            {% if article.content|length > 50 %}
                                {{ article.content|slice:":50" }}...
                            {% else %}
                                {{ article.content }}
                            {% endif %}
                        </p>
                        <p>기자: {{ article.reporter }}</p>
                        {% if article.img_url %}
                            <img src="{{ article.img_url }}" alt="{{ article.title }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 처음</a>
                <a href="?page={{ page_obj.previous_page_number }}">이전</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    {% if page_obj.number == num %}
                        <span class="current-page">{{ num }}</span>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">다음</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- Q%A -->
    <div class="popup-box">
        <div class="popup" id="qna-form-container">
            <button type="button" id="close-button">닫기</button>
            <form id="qna-form">
                <h2>문의사항 남기기</h2>
                <p>CHESTMATE에 방문해 주셔서 감사합니다.</p>
                <p>서비스에 관한 문의를 남겨주세요.</p>
                <input type="text" id="qna-name" name="name" placeholder="이름">
                <input type="text" id="qna-address" name="address" placeholder="지역(ex.서울시 서초구)">
                <input type="text" id="qna-hospital" name="hospital" placeholder="병원명/소속">
                <input type="email" id="qna-email" name="email" placeholder="이메일">
                <input type="text" id="qna-phone" name="phone" placeholder="전화번호">
                <textarea id="qna-textarea" name="question" rows="5" cols="33" placeholder="문의사항"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // 팝업 버튼 클릭시 popup-active-1 실행
            $('#qna-link').click(function(event) {
                event.preventDefault();
                $('html').addClass('popup-active-1');
                $('qna-form-container').classList.toggle('hidden');
            });
        
            // 배경 클릭시 popup-active-1 제거
            $('.popup-box').click(function(event) {
                // Ensure that only the background click closes the popup, not clicks inside the popup
                if ($(event.target).closest('.popup').length === 0) {
                    $('html').removeClass('popup-active-1');
                    $('qna-form-container').classList.toggle('hidden');
                }
            });
        
            // 닫기 버튼 클릭시 popup-active-1 제거
            $('#close-button').click(function() {
                $('html').removeClass('popup-active-1');
                $('qna-form-container').classList.add('hidden');
            });
        });

    </script>
</body>
</html>
