<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" href="{% static 'css/paging.css' %}">
    <link rel="stylesheet" href="{% static 'css/qna.css' %}">
</head>
<body>
    <video src="{% static 'main.mp4' %}" muted autoplay loop></video>
   
    <section class="notice">
        <header>
            <div class="logo">
                <img src="../static/img/logo.png" id="logo-img">
            </div>
            <ul class="header_menu">
                <li><a class="upper" href="{% url 'board' %}">Home</a></li>
                <li><a class="upper" href="{% url 'board_all' %}">All</a></li>
                <li><a class="upper" href="{% url 'contact' %}">ABOUT US</a></li>
                <li><a class="upper" href="{% url 'news_list' %}">NEWS</a></li>
                <li><a class="upper" href="#" id="qna-link">Q&A</a></li>
                <li><a class="upper" id="logout-btn" href="{% url 'logout_view' %}"><i class="fi fi-ss-exit"></i></a></li>
            </ul>
        </header>
        <div class="page-title">
            <div class="container">
                <h3><!-- 여백 --></h3>
            </div>
        </div>

        <div id="board-search">
            {% comment %} <p>Logged in as: Dr. {{ request.session.doc_name }} (ID: {{ request.session.doc_id }})</p>
            <a href="{% url 'logout_view' %}"> Logout</a> {% endcomment %}
            <div class="container">
                <div class="search-window">
                    <form id="search-form">
                        <div class="search-wrap" id="home_content">
                            <label for="search_date_start" class="blind">Start Date</label>
                            <input type="date" name="search_date_start" id="search_date_start" placeholder="Start Date">
                            <label for="search_date_end" class="blind">End Date</label>
                            <input type="date" name="search_date_end" id="search_date_end" placeholder="End Date">
                            <label for="search_name" class="blind">Search Name</label>
                            <input id="search_name" type="search" name="search_name" placeholder="Name">
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                        <tr>
                            <th scope="col" class="th-num">번호</th>
                            <th scope="col" class="th-title">이름</th>
                            <th scope="col" class="th-birth">생년월일</th>
                            <th scope="col" class="th-date">검진일</th>
                        </tr>
                    </thead>
                    <tbody id="patient-data">
                        <!-- 환자 데이터가 동적으로 추가될 예정 -->
                    </tbody>
                </table>
            </div>
        </div>
        <div id="board-pagination">
            <div class="container">
                <div class="pagination-window">
                    <div class="page_wrap">
                        <div class="page_nation" id="pagination">
                            <a class="arrow pprev" href="#"><i class="fi fi-bs-angle-double-small-left"></i></a>
                            <a class="arrow prev" href="#"><i class="fi fi-bs-angle-small-left"></i></a>
                            <!-- 페이지 버튼들은 JavaScript를 통해 동적으로 추가될 예정입니다 -->
                            <a class="arrow next" href="#"><i class="fi fi-bs-angle-small-right"></i></a>
                            <a class="arrow nnext" href="#"><i class="fi fi-bs-angle-double-small-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Q%A -->
    <div class="popup-box">
        <div class="popup" id="qna-form-container">
            <button type="button" id="close-button">닫기</button>
            <form id="qna-form">
                <h2>문의사항 남기기</h2>
                <p>CHESTMATE에 방문해 주셔서 감사합니다.</p>
                <p>서비스에 관한 문의를 남겨주세요.</p>
                <input type="text" id="qna-name" name="name" placeholder="이름">
                <input type="text" id="qna-address" name="address" placeholder="지역(ex.서울시 서초구)">
                <input type="text" id="qna-hospital" name="hospital" placeholder="병원명/소속">
                <input type="email" id="qna-email" name="email" placeholder="이메일">
                <input type="text" id="qna-phone" name="phone" placeholder="전화번호">
                <textarea id="qna-textarea" name="question" rows="5" cols="33" placeholder="문의사항"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var currentPage = 1;  // 현재 페이지를 추적
            var totalPages = 1;  // 전체 페이지 수
        
            function updateBoard(pageNumber) {
                const search_date_start = $('#search_date_start').val();
                const search_date_end = $('#search_date_end').val();
                const search_name = $('#search_name').val();
        
                $.ajax({
                    url: '{% url "get_patient_data" %}',
                    type: 'GET',
                    data: {
                        'page': pageNumber,
                        'search_date_start': search_date_start,
                        'search_date_end': search_date_end,
                        'search_name': search_name
                    },
                    success: function(data) {
                        currentPage = pageNumber;  // 현재 페이지를 업데이트
                        totalPages = data.total_pages;  // 전체 페이지 수 업데이트
                        updatePage(data.patients); // 데이터 업데이트
                        updatePageButtons();  // 페이지 버튼 업데이트
                    }
                });
            }
        
            function updatePage(patients) {
                $('#patient-data').empty(); // 기존의 게시판 내용 비우기
                console.log(patients)
                patients.forEach(function(patient, index) {
                    var newRow = '<tr><td>' + ((currentPage - 1) * 5 + index + 1) + '</td>' +
                                 '<th class="title-align"><a href="/catalog/x-ray-2?patient_id=' + patient.id + '">' + patient.name + '</a></th>' +
                                 '<td>' + patient.birthdate + '</td>' +
                                 '<td>' + (patient.mir_data ? patient.mir_data.date : '2024-06-07') + '</td></tr>';
                    
                    $('#patient-data').append(newRow);
                });
        
                var emptyRows = 5 - patients.length;
                for (var i = 0; i < emptyRows; i++) {
                    var emptyRow = '<tr><td>&nbsp;</td>' +
                                '<td>&nbsp;</td>' +
                                '<td>&nbsp;</td>' +
                                '<td>&nbsp;</td></tr>';
                    $('#patient-data').append(emptyRow);
                }
            }
        
            function updatePageButtons() {
                var paginationElement = $('#pagination');
                paginationElement.empty(); // 기존의 페이지 버튼 비우기
        
                paginationElement.append('<a class="arrow pprev" href="#"><i class="fi fi-bs-angle-double-small-left"></i></a>');
                paginationElement.append('<a class="arrow prev" href="#"><i class="fi fi-bs-angle-small-left"></i></a>');
        
                for (var i = 1; i <= totalPages; i++) {
                    var pageButton = '<a href="#" class="page-btn' + (i === currentPage ? ' active' : '') + '">' + i + '</a>';
                    paginationElement.append(pageButton);
                }
        
                paginationElement.append('<a class="arrow next" href="#"><i class="fi fi-bs-angle-small-right"></i></a>');
                paginationElement.append('<a class="arrow nnext" href="#"><i class="fi fi-bs-angle-double-small-right"></i></a>');
            }
        
            // 초기 로드 시 첫 페이지 로드
            updateBoard(currentPage);
        
            // 페이지 버튼 클릭 이벤트 핸들러
            $('#pagination').on('click', '.page-btn', function(event) {
                event.preventDefault();
                var pageNumber = parseInt($(this).text());
                updateBoard(pageNumber);
            });
        
            // 화살표 버튼 클릭 이벤트 핸들러
            $('#pagination').on('click', '.arrow', function(event) {
                event.preventDefault();
                var newPageNumber = currentPage;
                if ($(this).hasClass('pprev')) {
                    newPageNumber = 1;
                } else if ($(this).hasClass('prev')) {
                    if (currentPage > 1) {
                        newPageNumber = currentPage - 1;
                    }
                } else if ($(this).hasClass('next')) {
                    if (currentPage < totalPages) {
                        newPageNumber = currentPage + 1;
                    }
                } else if ($(this).hasClass('nnext')) {
                    newPageNumber = totalPages;
                }
                if (newPageNumber !== currentPage) {
                    updateBoard(newPageNumber);
                }
            });
        
            // 검색 폼 제출 이벤트 핸들러
            $('#search-form').on('submit', function(event) {
                event.preventDefault();
                updateBoard(1);  // 검색 시 첫 페이지부터 다시 검색
            });
        });

        $(document).ready(function() {
            // 팝업 버튼 클릭시 popup-active-1 실행
            $('#qna-link').click(function(event) {
                event.preventDefault();
                $('html').addClass('popup-active-1');
                $('qna-form-container').classList.toggle('hidden');
            });
        
            // 배경 클릭시 popup-active-1 제거
            $('.popup-box').click(function(event) {
                // Ensure that only the background click closes the popup, not clicks inside the popup
                if ($(event.target).closest('.popup').length === 0) {
                    $('html').removeClass('popup-active-1');
                    $('qna-form-container').classList.toggle('hidden');
                }
            });
        
            // 닫기 버튼 클릭시 popup-active-1 제거
            $('#close-button').click(function() {
                $('html').removeClass('popup-active-1');
                $('qna-form-container').classList.add('hidden');
            });
        });
    </script>
</body>
</html>
