<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>X-Ray Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/x-ray-2.css' %}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<body>
    <div class="header">
        <div class="icon-container" role="button" aria-label="Back" onclick="goBack()"><i class="fi fi-br-arrow-left"></i></div>
        <div class="header-patient">{{ patient.PAT_NAME }}({{ patient.PAT_BIRTH }})</div>
        <span>CHEST MATE</span>
    </div>

    <!-- x-ray image area -->
    <div class="container">
        <div class="image-gallery">
            <div class="main-container">
                <p style="display: none;">Patient ID: <span id="patient-id">{{ patient.PAT_ID }}</span></p>
                <img id="main-image" src="">
                <canvas id="drawing-canvas"></canvas>
            </div>
            <div>
                <input type="file" id="image-input" accept="image/*" style="display:none;">
                <button id="add-image">Add</button>
                <button id="heatmap" onclick="heatmap()">Heatmap</button>
                <button id="analysis" onclick="updateBar()">Analysis</button>
                <button id="save-image">Save</button>
            </div>
            <p id="error-message" style="color: red;"></p> <!-- 오류 메시지 표시용 단락 요소 -->
            <div class="thumbnail-images">
                <img class="thumbnail" src="">
                <img class="thumbnail" src="">
                <img class="thumbnail" src="">
            </div>
        </div>

        <!-- x-ray 크기 조절 등 area -->
        <div class="toolbar">
            <i class="fi fi-sr-zoom-in" id="zoom-in-icon" aria-label="Zoom In"></i>
            <i class="fi fi-sr-zoom-out" id="zoom-out-icon" aria-label="Zoom Out"></i>
            <i class="fi fi-sr-pen-nib" id="penIcon" aria-label="Draw"></i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" aria-label="Adjust Contrast" id="contrast-icon">
                <path class="fi fi-sr-pen-nib" fill="#ccc" fill-rule="evenodd"
                    d="M68,121 C72.9705627,121 77,116.970563 77,112 C77,107.029437 72.9705627,103 68,103 C63.0294373,103 59,107.029437 59,112 C59,116.970563 63.0294373,121 68,121 Z M68,119.8 C72.2313475,119.8 75.8,116.307821 75.8,112 C75.8,108.076069 72.6281738,104.2 68,104.2 L68,119.8 Z"
                    transform="matrix(-1 0 0 1 77 -103)" />
            </svg>
            <i class="fi fi-br-rotate-right" id="return" aria-label="Reset"></i>
        </div>
        <div class="zoom-area">
            <input type="range" id="contrast-slider" min="50" max="170" value="100" style="writing-mode: vertical-lr; direction: rtl">
        </div>

        <!-- 진단 area -->
        <div class="diagnosis-panel">
            <div class="diagnosis-header">Diagnosis of Lesions</div>
            <div class="opinion-title">AI Opinion</div>
            <div class="diagnosis-details">
                <div class="findings-container hidden">
                    <div class="findings-names" id="finding1">Effusion</div>
                    <div class="bar-container">
                        <div class="bar" id="bar1"></div>
                    </div>
                    <div class="percentage" id="percentageText1">0%</div>
                </div>
                
                <div class="findings-container hidden">
                    <div class="findings-names" id="finding2">Consolidation</div>
                    <div class="bar-container">
                        <div class="bar" id="bar2"></div>
                    </div>
                    <div class="percentage" id="percentageText2">0%</div>
                </div>
                
                <div class="findings-container hidden">
                    <div class="findings-names" id="finding3">Fibrosis</div>
                    <div class="bar-container">
                        <div class="bar" id="bar3"></div>
                    </div>
                    <div class="percentage" id="percentageText3">0%</div>
                </div>
                <div class="findings-container hidden">
                    <div class="findings-names" id="finding4">Fibrosis</div>
                    <div class="bar-container">
                        <div class="bar" id="bar4"></div>
                    </div>
                    <div class="percentage" id="percentageText4">0%</div>
                </div>
            </div>
            <div class="ai-opinion">
                <div class="ai-opinion-box"><span id="ai-opinion" class="hidden">ai 소견</span></div>
            </div>
            <div class="doctor-opinion">
                <div class="opinion-title">Doctor Opinion</div>
                <textarea id="doctor-opinion" rows="11" cols="59"></textarea>
            </div>
            <div class="form-actions">
                <button id="submit">Submit</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/x-ray-2.js' %}"></script>
</body>

</html>
